table{
    border-collapse: collapse;
}
td,th{
    width:15em;
    border:1px solid black;
    text-align: center;
}
.title{
    font-size: 2em;
    color: antiquewhite;
    background:rgb(39, 39, 39);
}